:root {
  --teal: #00FF80;
  --medi: #571129;
  --text: #BFB0B0;

  --image-height: 0;

}


body {
  background-color: #190013;
  font-family:      'Lato', sans-serif;
  vertical-align:   middle;
  margin: 0px;
  padding: 0px;
  line-height: 0.95;
}
  
h1 {
  font-size:   10vw;
  color:       var(--teal);
  text-align:  center;
  line-height: 0.9;
  margin:      0;
}

h3 {
  font-size:   3.5vh;
  color:       var(--text);
  margin:      10px 5px;
}
  
nav {
  min-height: 45px;
  background-color: #190013;
  position: fixed;
  top: 0;
  z-index: 15;
}

a {
  text-decoration: none;
  color:           var(--teal);
}

img {
  width:   100%;
}

h2 {
  font-size:     4vh;
  color:         var(--text);
  font-family:   'Montserrat', sans-serif;

  display: inline-block;
  margin:  0;
  padding: 0;
}

p {
  font-size:     2.5vh;
  font-weight:   lighter;
  text-align:    justify;
  color:         var(--text);
  margin:        0px 2vw 15px 2vw;
  width:         calc(100% - 8vw);
}

ul {
  list-style-type: square
}

li {
  font-size: 25px;
  color:     var(--text);
}

/*
================================================================================================================
=================== Index ======================================================================================
================================================================================================================
*/

.index-header {
  width:   98%;
  height:  36px;
  padding: 3px 1%;
  display: flex;
  justify-content: space-evenly;
}

.index-button {
  width:   28%;
  margin:  auto 2%;
  height:  50%;
  padding: 8px 0px;

  font-size: 25px;
  text-align: center;

  border-top:    1px solid var(--teal);
  border-bottom: 1px solid var(--teal);
}

.spacer {
  height: 51px;
  width: 100%;
}

/*
================================================================================================================
=================== Title ======================================================================================
================================================================================================================
*/

.title {
  padding:    5px 0px;
  text-align: center;
  display:    flex;
  flex-wrap:  wrap;
  background-image: linear-gradient(to bottom, #470020, #571129);
}

.title-icons {
  width:            100%;
  text-align:       center;
  display:          flex;
  justify-content:  space-evenly;
}
    
.icon-container {
  height: 45px;
  width:           25%;
  max-width:       110px;
  margin-top:      10px;
  display:         flex;  
  justify-content: center;
  background-color: var(--teal);
}

.icon {
  width:  45px;
  height: 45px;
  justify-content: center;
  background-color: white;
  border: 0px solid transparent;
}

/*
================================================================================================================
=================== Main Posts  ================================================================================
================================================================================================================
*/

.post-header {
  padding:         0px 5px 10px 5px;
  display:         flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.post {
  font-family:    'Lato', sans-serif;
  width:          calc(100% - 6vw);
  border-left:    2px solid var(--teal);
  border-right:   2px solid var(--teal);
  margin:         3vw;
}

.post-image {
  padding: 0px 5px;
  margin:  0px;
}

/*
================================================================================================================
=================== Generic Classes ============================================================================
================================================================================================================
*/

.sep {
  border-color: var(--teal);
  width:        80%;
  border-style: solid;
}

.vertical-hr {
  display: inline-block;
  border:  5px solid red;
  border-style: solid;
}

.button {
  color: var(--teal);
}

.clear {
  clear: both;
}

.filler {
  background-color: white;
  height:           100%;
}

/*
================================================================================================================
=================== Media ======================================================================================
================================================================================================================
*/

/* mobile port/land */
@media screen and (min-width:320px) and (max-width:479px){
  h1 {
    width: 100%;
  }
}
@media screen and (min-width:480px) {
  p {
    font-size: 3.8vw;
  }

  h1 {
    width: calc(50% - 10px);
    text-align: center;
    font-size: 6vw;
  }

  .sep {
    width: 0px;
    margin: 0px 5px;
  }

  h2, h3 {
    font-size: 6vw;
  }

  body {
  }

  .title {
    justify-content: center;
  }
}

/* tablet port/land */
@media screen and (min-width:768px) {

}
@media screen and (min-width:1024px) {

}

/* desktop port/land */
@media screen and (min-width:1200px) {

}
@media screen and (min-width:1600px) {

}