:root {
  --light: #ee4540;
  --pink: #c72c41;
  --medi: #801336;
  --dark: #510A32;
  --text: #BFB0B0;
  --bg:   #2D142C;
  --image-height: 0;

}


body {
  background-color: var(--bg);
  font-family:      'Lato', sans-serif;
  vertical-align:   middle;
  margin:      0px;
  padding:     0px;
  line-height: 0.95;
}
  
h1 {
  font-size:   10vw;
  color:       var(--light);
  text-align:  center;
  line-height: 0.9;
}

h3 {
  font-size: 3.5vh;
  color:     var(--text);
  margin:    10px 2vw;
}
  
nav {
  min-height: 45px;
  background-color: var(--bg);
  position: fixed;
  top: 0px;
  z-index: 15;
}

a {
  text-decoration: none;
  color:           var(--light);
}

img {
  width:   100%;
}

h2 {
  font-size:     3.5vh;
  color:         var(--text);
  font-family:   'Montserrat', sans-serif;

  display: inline-block;
  margin:  0;
  padding: 0;
}

p {
  font-size:     2.5vh;
  font-weight:   lighter;
  text-align:    left;
  color:         var(--text);
  margin:        0px 2vw 15px 2vw;
  width:         calc(100% - 4vw);
}

ul {
  margin: 0px 2vw;
  padding: 0px 0px 0px 3vw;
  list-style-type: none;
  display: inline-block;
}

li {
  font-size: 25px;
  color:     var(--text);
  margin:    2vh 0px;
}

/*
================================================================================================================
=================== Index ======================================================================================
================================================================================================================
*/

.index-header {
  width:   calc(100% - 2vw);
  height:  36px;
  padding: 0px 1vw;
  display: flex;
  justify-content: space-evenly;
}

.index-button {
  width:   28%;
  margin:  auto 2%;
  height:  50%;
  padding: 8px 0px;

  font-size: 25px;
  text-align: center;

  border-top:    1px solid var(--light);
  border-bottom: 1px solid var(--light);
}

.spacer-index {
  height: 45px;
  width: 100%;
}

/*
================================================================================================================
=================== Title ======================================================================================
================================================================================================================
*/

.title {
  padding: 5px 0px;

  display:    flex;
  flex-wrap:  wrap;

  background-color: var(--medi);
}

.title-element {
  margin: 0px;
  text-align: center;
  justify-content: center;
}

.title-icons {
  width:            100%;
  text-align:       center;
  display:          flex;
  justify-content:  space-evenly;
}
    
.icon-container {
  height: 45px;
  width:           25%;
  max-width:       110px;
  margin-top:      10px;
  display:         flex;  
  justify-content: center;
  background-color: var(--medi);
  box-shadow: 2px 2px 6px -2px var(--bg);
}

.icon {
  width:  45px;
  height: 45px;
  justify-content: center;
  background-color: var(--medi);
  border: 0px solid transparent;
}

/*
================================================================================================================
=================== Main Posts  ================================================================================
================================================================================================================
*/

.post-header {
  padding:         10px 2vw 10px 2vw;
  display:         flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 45px;
  z-index: 2;
  background-color: var(--bg);
}

.post {
  font-family:    'Lato', sans-serif;
  width:          calc(100% - 6vw);
  border-left:    2px solid var(--light);
  border-right:   2px solid var(--light);
  margin:         3vw auto;
}

.post-image {
  padding: 0px 2vw;
  margin:  0px;
}

.spacer-header {
  z-index: 1;
  background-color: var(--bg);
}

/*
================================================================================================================
=================== Generic Classes ============================================================================
================================================================================================================
*/

.sep {
  margin: 0.3vh 0px; 
  width:  calc(100vw - 2);
  border: 1px solid var(--light);

}

.button {
  color: var(--text);
  background-color: var(--medi);
  border: 2px solid var(--medi);
  border-radius: 3%;
}

.clear {
  clear: both;
}

.filler {
  background-color: white;
  height:           100%;
}

/*
================================================================================================================
=================== Media ======================================================================================
================================================================================================================
*/

/* mobile port/land */
@media screen and (min-width:320px) and (max-width:479px){
  h1 {
    width: 100%;
  }
}
@media screen and (min-width:480px) {
  p {
    font-size: 3.8vw;
  }

  h1 {
    font-size: 6vw;
  }

  .title-element {
    margin: 0px auto;
  }

  .sep {
    width: 0px;
    margin: 0px 5px;
  }

  h2, h3 {
    font-size: 6vw;
  }

  /* body {
    background-color: white;
  } */
}

/* tablet port/land */
@media screen and (min-width:768px) {
  /* body {
    background-color: green;
  } */

}
@media screen and (min-width:1024px) {
  /* body {
    background-color: darkgreen;
  } */
}

/* desktop port/land */
@media screen and (min-width:1200px) {
  /* body {
    background-color: blue;
  } */
}
@media screen and (min-width:1600px) {
  /* body {
    background-color: darkblue;
  } */
} 