:root {
  --teal: #00FF80;
  --medi: #571129;
  --text: #BFB0B0;

  --image-height: 0;
}

body {
  background-color: #190013;
  font-family:      Lato, sans-serif;
  min-width:        500px;
  vertical-align:   middle;
}
  
h1 {
  font-size:   90px;
  color:       var(--teal);
  text-align:  center;
  line-height: 0.9;
  margin:      0;
}

h3 {
  font-family: Inconsolata, monospace;
  font-size:   22px;
  color:       var(--text);
  padding:     0px 15px;
}
  
a {
  text-decoration: none;
  text-align:      center;
}

img {
  width:   100%;
  display: block;
}

h2 {
  font-size:     28px;
  color:         var(--text);
  font-family:   Inconsolata, monopsace;
  display:       inline-block;
  margin:        0;
  padding:       0;
}

.post-header {
  padding:         0px 15px 15px 15px;
  display:         flex;
  justify-content: space-between;
}

p {
  font-size:     20px;
  font-weight:   lighter;
  text-align:    justify;
  color:         var(--text);
  font-family:   Inconsolata, monospace;
  padding:       0px 15px;
  margin:        0px;
}

li {
  font-size: 25px;
  color:     var(--text);
}

.post-image {
  width:            calc(50% - 11px);
  padding:          0px 5px;
  border-left:      2px solid var(--teal);
}

.post {
  width:          95%;
  border-left:    2px solid var(--teal);
  border-right:   2px solid var(--teal);
  margin:         100px auto;
  display:        flex;
  flex-direction: row;
}

.post-left {
  min-width: 25%;
  width:     50%;
  /*height: 100%;*/
}

.title-hr {
  border-color: var(--teal);
  width:        80%;
  max-width:    730px;
}

.horizontal-hr {
  margin:       10 auto;
  border-color: var(--teal);
  border-width: 4px;
  border-style: solid;
}

.vertical-hr {
  display: inline-block;
  border:  5px solid red;
}
  
.title {
  margin:           0px;
  text-align:       center;
  padding:          15px;
  background-color: #571129;
}
  
.icon {
  width:         64px;
  border-radius: 40%;
  margin:        0px 20px;
}
  
.icondiv {
  margin:          20px auto 0px auto;
  display:         flex;  
  justify-content: center;
}
  
.index-header {
  text-align: center;
  width:      100%;
  margin:     0 auto;
  padding:    5px 0px;
}

.button {
  width:         100px;
  font-size:     25px;
  display:       inline-block;
  color:         var(--teal);
  margin:        0px 5px 5px 5px;
  padding:       2px 5px;
  border-style:  solid;
  border:        2px solid var(--teal);
  border-radius: 8%;
}

.clear {
  clear: both;
}

.filler {
  background-color: white;
  height:           100%;
}

@media (max-width: 950px) {
  
}